.primaryMenu {
  width: 100px;
  height: fit-content;
  list-style: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}

.previewMenu {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}